html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mobile-menu-btn {
  margin-top: 30px;
  margin-right: 70px;
  cursor: pointer;
  width: 30px;
  display: none; }
  .mobile-menu-btn span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin: 5px 0; }
  @media screen and (max-width: 960px) {
    .mobile-menu-btn {
      display: block;
      margin-right: 30px; } }

.play-btn {
  margin-top: 10px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  -moz-transition: -moz-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s; }
  .play-btn img {
    width: 40px;
    height: 96px; }
  .play-btn:hover {
    transform: scale(1.25);
    background: rgba(255, 255, 255, 0.7); }
  .play-btn img {
    padding: 30px 0 30px 10px; }

.below {
  background: #dc7725;
  background-size: cover;
  background-position: center;
  height: 60px;
  width: 180px;
  border-radius: 3px;
  text-align: center;
  color: inherit;
  font-size: 0.9em;
  font-family: "Fjalla One";
  font-weight: normal;
  letter-spacing: 2px;
  padding: 20px 30px; }

.below-down {
  width: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.card-btn {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  background: rgba(50, 50, 50, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  -moz-transition: -moz-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s; }
  .card-btn img {
    width: 40px;
    height: 40px; }
  .card-btn:hover {
    transform: scale(1.2);
    background: rgba(50, 50, 50, 0.7); }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  -moz-transition: -moz-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s; }

.top-container {
  background: url("../img/bg-top.jpg");
  background-size: cover;
  background-position: center;
  height: 805px;
  color: white;
  font-weight: 100; }
  .top-container a {
    color: white;
    text-decoration: none; }
    .top-container a::after {
      clear: both;
      content: "";
      display: block; }
  @media screen and (max-width: 960px) {
    .top-container {
      height: 500px; } }

.nav-bar {
  padding: 40px 6%;
  display: flex;
  justify-content: space-between; }
  .nav-bar .nav-bar-logo:hover svg path, .nav-bar .nav-bar-logo:hover svg polygon {
    fill: #dc7725; }
  .nav-bar .nav-bar-logo svg {
    display: inline-block;
    vertical-align: middle; }
    .nav-bar .nav-bar-logo svg:first-child {
      width: 50px; }
      @media screen and (max-width: 960px) {
        .nav-bar .nav-bar-logo svg:first-child {
          width: 40px; } }
    .nav-bar .nav-bar-logo svg:last-child {
      height: 50px;
      width: 180px;
      margin-left: 5px; }
      @media screen and (max-width: 960px) {
        .nav-bar .nav-bar-logo svg:last-child {
          height: 50px;
          width: 144px; } }
  @media screen and (max-width: 1150px) {
    .nav-bar {
      padding: 40px 5%;
      padding-right: 0px; } }
  @media screen and (max-width: 960px) {
    .nav-bar {
      padding: 20px 4% 0 4%; } }

.menu {
  margin-top: 30px;
  height: 50px;
  width: 700px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1150px) {
    .menu {
      height: 50px;
      width: 650px; } }
  .menu > li {
    position: relative;
    padding: 15px 10px;
    list-style: none;
    color: white;
    font-size: 0.9em;
    font-family: "Fjalla One";
    font-weight: normal;
    letter-spacing: 2px; }
    .menu > li:first-of-type img, .menu > li:last-of-type img {
      opacity: 0; }
    @media screen and (max-width: 1150px) {
      .menu > li {
        font-size: .7em;
        width: 650px;
        padding: 15px 5px; }
        .menu > li:first-of-type, .menu > li:last-of-type {
          padding: 15px 0; } }
    .menu > li img {
      vertical-align: middle;
      padding: 0; }
    .menu > li:hover {
      background: #404040;
      border-radius: 2px; }
      .menu > li:hover > .menu-sub {
        display: block; }
      .menu > li:hover:first-of-type, .menu > li:hover:last-of-type {
        background: none;
        color: #dc7725; }
  @media screen and (max-width: 960px) {
    .menu {
      display: none; } }

.menu-sub {
  display: none;
  background: #404040;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 250px; }
  .menu-sub a {
    color: silver; }
  .menu-sub li {
    padding: 15px 20px;
    color: #8d8d8d;
    font-size: 1em;
    font-family: arial;
    font-weight: lighter;
    list-style: none;
    border-bottom: 1px solid #8d8d8d; }
    .menu-sub li:hover {
      color: white; }
  .menu-sub .no-border {
    border-bottom: 0; }
  @media screen and (max-width: 960px) {
    .menu-sub {
      display: block; } }

.mobile-menu {
  position: absolute;
  right: -250px;
  top: 0;
  background: #343433;
  height: 100%;
  width: 250px;
  padding: 30px; }

.main-ul {
  margin-top: 30px; }

.sub-ul {
  margin-bottom: 30px; }

.main-ul li {
  padding: 12px 0;
  list-style: none;
  color: #646461;
  font-size: 1.6em;
  font-family: "Fjalla One";
  font-weight: bold;
  letter-spacing: 2px; }

.sub-ul li {
  padding: 8px 0;
  list-style: none;
  color: #e0e0e0;
  font-size: 0.88em;
  font-family: arial;
  font-weight: lighter;
  letter-spacing: 0;
  border-bottom: 1px solid #646461; }

.js-navbar-open {
  -webkit-transform: translateX(-250px);
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  transform: translateX(-250px); }

.main-content {
  height: 393px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .main-content .text {
    text-align: center; }
    .main-content .text h3 {
      color: inherit;
      font-size: 1.3em;
      font-family: "Fjalla One";
      font-weight: lighter;
      letter-spacing: 4px; }
      @media screen and (max-width: 770px) {
        .main-content .text h3 {
          font-size: 1em; } }
    .main-content .text h1 {
      color: inherit;
      font-size: 8em;
      font-family: "FreightBigBook";
      font-weight: 900; }
      @media screen and (max-width: 960px) {
        .main-content .text h1 {
          font-size: 5em; } }
      @media screen and (max-width: 770px) {
        .main-content .text h1 {
          font-size: 4em; } }
  .main-content .white-border {
    width: 250px;
    height: 5px;
    background: white; }
  @media screen and (max-width: 960px) {
    .main-content {
      height: 353px;
      width: 100%; } }

.bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; }
  @media screen and (max-width: 960px) {
    .bottom-content {
      display: none; } }

.sticky-nav-wrapper {
  position: absolute;
  width: 100%;
  top: 725px;
  z-index: 3;
  background: #333333;
  background-size: cover;
  background-position: center;
  height: 80px; }
  @media screen and (max-width: 960px) {
    .sticky-nav-wrapper {
      display: none; } }

.fixed {
  position: fixed;
  top: 0; }

.sticky-nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  background-size: cover;
  background-position: center;
  height: 80px; }
  @media screen and (max-width: 1150px) {
    .sticky-nav {
      max-width: 960px;
      padding: auto 30%;
      justify-content: space-around; } }

.sticky-nav-menu {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  width: 430px; }
  .sticky-nav-menu > li {
    height: 40px;
    list-style: none;
    color: #a6a6a6;
    font-size: 1.05em;
    font-family: arial;
    font-weight: normal; }
    @media screen and (max-width: 1150px) {
      .sticky-nav-menu > li {
        font-size: .9em; } }

.gray {
  padding-top: 10px; }
  .gray:hover {
    color: white; }

.white {
  padding-top: 10px;
  color: white; }
  .white:hover {
    color: #dc7725; }

.orange {
  border-left: 1px solid #5a5a5a;
  padding-top: 1px;
  position: relative; }
  .orange p {
    display: inline-block;
    margin-left: 25px;
    color: #dc7725;
    padding: 10px; }
  .orange img {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    margin-top: -1px; }
  .orange .more {
    display: none; }
  .orange:hover p {
    background: #404040;
    color: #dc7725; }
  .orange:hover img {
    background: #404040; }
  .orange:hover .more {
    position: absolute;
    color: silver;
    display: none;
    background: #404040;
    border-radius: 2px;
    display: block;
    top: 40px;
    left: 25px;
    width: 200px;
    z-index: 2; }

.more li {
  padding: 15px 20px;
  color: #8d8d8d;
  font-size: 0.9em;
  font-family: arial;
  font-weight: lighter;
  list-style: none;
  border-bottom: 1px solid #8d8d8d; }
  .more li:hover {
    color: white; }

.no-border {
  border-bottom: 0; }

.sticky-nav-search {
  display: flex;
  justify-content: space-around;
  color: #a6a6a6;
  width: 95px; }
  .sticky-nav-search h3 {
    color: inherit;
    font-size: 1.2em;
    font-family: arial;
    font-weight: 500;
    margin-top: 10px; }
    .sticky-nav-search h3:hover {
      color: white; }
    @media screen and (max-width: 1150px) {
      .sticky-nav-search h3 {
        font-size: 1em; } }
  .sticky-nav-search img {
    vertical-align: middle; }

.cards {
  background: #d1d1c9;
  background-size: cover;
  background-position: center;
  height: 800px; }
  @media screen and (max-width: 960px) {
    .cards {
      height: 1600px; } }
  @media screen and (max-width: 770px) {
    .cards {
      height: 1780px; } }

.card-btn-wrapper {
  background-size: cover;
  background-position: center;
  height: 90px;
  margin-top: 150px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 770px) {
    .card-btn-wrapper {
      margin-top: 75px; } }

.cards-row1 {
  display: flex;
  flex-wrap: wrap; }
  .cards-row1 .cards-card-raft {
    height: 400px;
    background: url("../img/bg-raft.jpg");
    flex-grow: 2;
    flex-basis: 480.5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .cards-row1 .cards-card-raft:hover .card-btn {
      transform: scale(1.2);
      background: rgba(50, 50, 50, 0.7); }
  @media screen and (max-width: 770px) {
    .cards-row1 {
      padding: 40px;
      padding-bottom: 0; }
      .cards-row1 .cards-card-raft {
        height: 250px;
        flex-grow: 1;
        flex-basis: 800px; } }
  .cards-row1 .cards-card-basecamp {
    height: 400px;
    background: url("../img/bg-basecamp.jpg");
    flex-grow: 1;
    flex-basis: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .cards-row1 .cards-card-basecamp:hover .card-btn {
      transform: scale(1.2);
      background: rgba(50, 50, 50, 0.7); }
  @media screen and (max-width: 770px) {
    .cards-row1 {
      padding: 40px;
      padding-bottom: 0; }
      .cards-row1 .cards-card-basecamp {
        height: 250px;
        flex-grow: 1;
        flex-basis: 800px; } }
  .cards-row1 .cards-card-backpacking {
    height: 400px;
    background: url("../img/bg-backpacking.jpg");
    flex-grow: 1;
    flex-basis: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .cards-row1 .cards-card-backpacking:hover .card-btn {
      transform: scale(1.2);
      background: rgba(50, 50, 50, 0.7); }
  @media screen and (max-width: 770px) {
    .cards-row1 {
      padding: 40px;
      padding-bottom: 0; }
      .cards-row1 .cards-card-backpacking {
        height: 250px;
        flex-grow: 1;
        flex-basis: 800px; } }
  @media screen and (max-width: 960px) {
    .cards-row1 .cards-card-raft {
      height: 400px;
      background: url("../img/bg-raft.jpg");
      flex-grow: 2;
      flex-basis: 800px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
      .cards-row1 .cards-card-raft:hover .card-btn {
        transform: scale(1.2);
        background: rgba(50, 50, 50, 0.7); } }
@media screen and (max-width: 960px) and (max-width: 770px) {
  .cards-row1 {
    padding: 40px;
    padding-bottom: 0; }
    .cards-row1 .cards-card-raft {
      height: 250px;
      flex-grow: 1;
      flex-basis: 800px; } }
  @media screen and (max-width: 960px) {
    .cards-row1 .cards-card-basecamp {
      height: 400px;
      background: url("../img/bg-basecamp.jpg");
      flex-grow: 1;
      flex-basis: 241px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
      .cards-row1 .cards-card-basecamp:hover .card-btn {
        transform: scale(1.2);
        background: rgba(50, 50, 50, 0.7); } }
@media screen and (max-width: 960px) and (max-width: 770px) {
  .cards-row1 {
    padding: 40px;
    padding-bottom: 0; }
    .cards-row1 .cards-card-basecamp {
      height: 250px;
      flex-grow: 1;
      flex-basis: 800px; } }
  @media screen and (max-width: 960px) {
    .cards-row1 .cards-card-backpacking {
      height: 400px;
      background: url("../img/bg-backpacking.jpg");
      flex-grow: 1;
      flex-basis: 241px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative; }
      .cards-row1 .cards-card-backpacking:hover .card-btn {
        transform: scale(1.2);
        background: rgba(50, 50, 50, 0.7); } }
@media screen and (max-width: 960px) and (max-width: 770px) {
  .cards-row1 {
    padding: 40px;
    padding-bottom: 0; }
    .cards-row1 .cards-card-backpacking {
      height: 250px;
      flex-grow: 1;
      flex-basis: 800px; } }

  @media screen and (max-width: 770px) {
    .cards-row1 .cards-card-basecamp {
      margin: 40px 0; } }

.cards-row2 {
  display: flex;
  flex-wrap: wrap; }
  .cards-row2 .cards-card-canoe {
    height: 400px;
    background: url("../img/bg-canoe.jpg");
    flex-grow: 1;
    flex-basis: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .cards-row2 .cards-card-canoe:hover .card-btn {
      transform: scale(1.2);
      background: rgba(50, 50, 50, 0.7); }
  @media screen and (max-width: 770px) {
    .cards-row2 {
      padding: 40px;
      padding-bottom: 0; }
      .cards-row2 .cards-card-canoe {
        height: 250px;
        flex-grow: 1;
        flex-basis: 800px; } }
  .cards-row2 .cards-card-photo {
    height: 400px;
    background: url("../img/bg-photo.jpg");
    flex-grow: 1;
    flex-basis: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .cards-row2 .cards-card-photo:hover .card-btn {
      transform: scale(1.2);
      background: rgba(50, 50, 50, 0.7); }
  @media screen and (max-width: 770px) {
    .cards-row2 {
      padding: 40px;
      padding-bottom: 0; }
      .cards-row2 .cards-card-photo {
        height: 250px;
        flex-grow: 1;
        flex-basis: 800px; } }
  .cards-row2 .cards-card-custom {
    height: 400px;
    background: url("../img/bg-custom.jpg");
    flex-grow: 2;
    flex-basis: 480.5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    .cards-row2 .cards-card-custom:hover .card-btn {
      transform: scale(1.2);
      background: rgba(50, 50, 50, 0.7); }
  @media screen and (max-width: 770px) {
    .cards-row2 {
      padding: 40px;
      padding-bottom: 0; }
      .cards-row2 .cards-card-custom {
        height: 250px;
        flex-grow: 1;
        flex-basis: 800px; } }
  @media screen and (max-width: 770px) {
    .cards-row2 {
      padding-bottom: 40px; }
      .cards-row2 .cards-card-photo {
        margin: 40px 0; } }

.cards-card-icon {
  width: 40px;
  height: 5px;
  background: #dc7725;
  position: absolute;
  bottom: 90px;
  left: 40px; }

.cards-card-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-size: 1.4em;
  font-family: "Fjalla One";
  font-weight: bold; }

.experience-container {
  display: flex;
  justify-content: flex-start;
  background: #e6e6e0;
  background-size: cover;
  background-position: center;
  height: 712px;
  border-bottom: 2px solid #cfcfc8; }
  @media screen and (max-width: 960px) {
    .experience-container {
      justify-content: center; } }

.experience-text {
  min-width: 740px;
  flex-grow: 1;
  padding: 100px 0 0 10%; }
  .experience-text .border {
    width: 100px;
    height: 5px;
    background: #c9c9c2;
    margin: 30px 0; }
    @media screen and (max-width: 960px) {
      .experience-text .border {
        margin: 30px auto; } }
  .experience-text h3 {
    text-align: left;
    color: #8d8d8d;
    font-size: 1.2em;
    font-family: "Fjalla One";
    font-weight: normal;
    letter-spacing: 2px; }
    @media screen and (max-width: 960px) {
      .experience-text h3 {
        font-size: .9em;
        text-align: center; } }
  .experience-text h1 {
    text-align: left;
    color: black;
    font-size: 3.3em;
    font-family: "FreightBigBook";
    font-weight: 900;
    letter-spacing: 3px; }
    @media screen and (max-width: 960px) {
      .experience-text h1 {
        font-size: 2em;
        text-align: center; } }
  .experience-text a {
    color: #dc7725; }
    .experience-text a:hover {
      color: #f7801f; }
  .experience-text p {
    text-align: left;
    color: #737373;
    font-size: 1.15em;
    font-family: arial;
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 30px; }
    @media screen and (max-width: 960px) {
      .experience-text p {
        font-size: 1em;
        text-align: center; } }
  @media screen and (max-width: 960px) {
    .experience-text {
      min-width: 100%;
      padding: 100px 10% 0 10%; } }
  @media screen and (max-width: 450px) {
    .experience-text {
      padding: 70px 3%; } }

.button-span {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .button-span button {
    background: #dc7725;
    color: white;
    font-size: 0.9em;
    font-family: "Fjalla One";
    font-weight: normal;
    letter-spacing: 2px;
    height: 60px;
    width: 152px;
    border: 0;
    border-radius: 3px; }
    .button-span button:hover {
      background: #f7801f; }
    @media screen and (max-width: 770px) {
      .button-span button {
        display: block;
        width: 100%;
        margin-bottom: 30px; } }
    @media screen and (max-width: 450px) {
      .button-span button {
        margin-bottom: 60px; } }
  .button-span span {
    margin-left: 20px;
    padding-bottom: 5px;
    color: #666666;
    font-size: 1em;
    font-family: arial;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-bottom: 1px dashed #999999; }
    .button-span span:hover {
      color: #dc7725; }
    @media screen and (max-width: 960px) {
      .button-span span {
        font-size: 1em; } }
    @media screen and (max-width: 770px) {
      .button-span span {
        margin: 0; } }
    @media screen and (max-width: 450px) {
      .button-span span {
        font-size: 0.9em; } }
  @media screen and (max-width: 960px) {
    .button-span {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: 770px) {
    .button-span {
      display: block;
      max-width: 542px;
      margin-left: auto;
      margin-right: auto;
      text-align: center; } }

.experience-img {
  flex-grow: 1; }
  @media screen and (max-width: 960px) {
    .experience-img {
      display: none; } }

/*# sourceMappingURL=main.css.map */
