* {
  margin: 0;
  padding: 0;
}

.top-container {
  @include structure(url('../img/bg-top.jpg'), 755px);
}

.nav-bar {
  padding: 40px 6%;
  display: flex;
  justify-content: space-between;
  .nav-bar-logo {
    &:hover {
      svg {
        path, polygon {
          fill: $orange;
        }
      }
    }
    svg {
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        width: 50px;
      }
      &:last-child {
        @include size(180px 50px);
        margin-left: 5px;
      }
    }
  }
}

body {
  overflow-x: hidden;
  @include transition(transform .5s ease 0s);
}

.mobile-menu {
  position: absolute;
  right: -250px;
  top: 0;
  background: #343433;
  @include size(250px 1081px);
  padding: 30px;
}

.main-ul {
  margin-top: 30px;
}

.sub-ul {
  margin-bottom: 30px;
}

.js-navbar-open {
  @include transform(translateX(-250px));
}

.main-content {
  @include size(100% 393px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: center;
}

.white-border {
  @include border(250px, 5px, white)
}

.bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.cards {
  @include structure($light-gray, 1733px);
}

.card-btn-wrapper {
  @include structure(null, 90px);
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-row {
  display: flex;
  @include size(100% 400px);
  @include card(raft, bg-raft, 2);
  @include card(basecamp, bg-basecamp, 1);
  @include card(backpacking, bg-backpacking, 1);
  @include card(canoe, bg-canoe, 1);
  @include card(photo, bg-photo, 1);
  @include card(custom, bg-custom, 2);
}

.cards-card-icon {
  @include border(40px, 5px, $orange);
  position: absolute;
  bottom: 90px;
  left: 40px;
}
