
.sticky-nav-wrapper {
  position: absolute;
  width: 100%;
  top: 725px;
  z-index: 3;
  @include structure(darken($nav-gray, 5%), 80px);
  @include media(max-width 960px) {
    display: none;
  }
}

.fixed {
    position:fixed;
    top:0;
}

.sticky-nav-scrolled {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include structure(darken($nav-gray, 5%), 80px);
  @include media(max-width 1150px) {
    max-width: 960px;
    padding: auto 30%;
    justify-content: space-around;
  }
}

.sticky-nav-menu {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  width: 430px;
  & > li {
    height: 40px;
    list-style: none;
    @include font(lighten($nav-gray, 40%), 1.05em, arial, normal, null);
    @include media(max-width 1150px) {
      font-size: .9em;
    }
  }
}
.gray{
  padding-top: 10px;
  &:hover {
    color: white;
  }
}
.white {
  padding-top: 10px;
  color: white;
  &:hover {
    color: $orange;
  }
}
.orange {
  border-left: 1px solid lighten($nav-gray, 10%);
  padding-top: 1px;
  position: relative;
  p {
    display: inline-block;
    margin-left: 25px;
    color: $orange;
    padding: 10px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    margin-top: -1px;
  }
  .more {
    display: none;
  }
  &:hover {
    p {
      background: $nav-gray;
      color: $orange;
    }
    img {
      background: $nav-gray;
    }
    .more {
      position: absolute;
      color: lighten($nav-gray, 50%);
      display: none;
      background: $nav-gray;
      border-radius: 2px;
      display: block;
      top: 40px;
      left: 25px;
      width: 200px;
      z-index: 2;
    }
  }
}

.more li {
  padding: 15px 20px;
  @include font(lighten($nav-gray, 30%), .9em, arial, lighter, null);
  list-style: none;
  border-bottom: 1px solid lighten($nav-gray, 30%);
  &:hover {
    color: white;
  }
}
.no-border {
  border-bottom: 0;
}

.sticky-nav-search {
  display: flex;
  justify-content: space-around;
  color: lighten($nav-gray, 40%);
  width: 95px;
  h3 {
    @include font(inherit, 1.2em, arial, 500, null);
    margin-top: 10px;
    &:hover {
      color: white;
    }
    @include media(max-width 1150px) {
      font-size: 1em;
    }
  }
  img {
    vertical-align: middle;
  }
}
