.top-container {
  color: white;
  font-weight: 100;
}

a {
  @include clearfix;
  color: white;
  text-decoration: none;
}

.main-ul li {
  padding: 12px 0;
  list-style: none;
  @include font($dark-gray, 1.6em, 'Fjalla One', bold, 2px);
}

.sub-ul li {
  padding: 8px 0;
  list-style: none;
  @include font($dirty-white, .88em, '"Open Sans", sans-serif', lighter, 0);
  border-bottom: 1px solid $dark-gray;
}

.text{
  h3 {
    @include font(inherit, 1.3em, 'Fjalla One', lighter, 4px);
  }
  h1 {
    @include font(inherit, 8em, 'FreightBigBook', 900, null);
  }
}

.cards-card-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  @include font(white, 1.4em, 'Fjalla One', bold, null);

}
