@mixin structure($background, $height) {
  background: $background;
  background-size:cover;
  background-position: center;
  height: $height;
}

@mixin font($color, $size, $family, $weight, $spacing) {
  color: $color;
  font-size: $size;
  font-family: $family;
  font-weight: $weight;
  letter-spacing: $spacing;
}

@mixin hover-btn($size, $color, $a, $trans-time, $img-width, $img-height, $scale, $hover-a) {
  border-radius: 100px;
  width: $size;
  height: $size;
  background: rgba($color, $a);
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition(transform $trans-time ease 0s);
  img {
    width: $img-width;
    height: $img-height;
  }
  &:hover {
    transform: scale($scale);
    background: rgba($color, $hover-a)
  }
}

@mixin border($width, $height, $bg-color) {
  width: $width;
  height: $height;
  background: $bg-color;
}

@mixin card($class, $bg-img, $flex-grow) {
  .cards-card-#{$class} {
    $url: "../img/#{$bg-img}.jpg";
    height: 400px;
    background: url($url);
    flex-basis: auto;
    flex-grow: $flex-grow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &:hover .card-btn {
      transform: scale(1.2);
      background: rgba($card-gray, 0.7)
    }
  }
}
// breakpoint: 770px 960px
